# Don't track pycache folders
*.pyc
__pycache__/

# Don't track pycharm folders
.idea/

# Don't track example logs
examples/logs/
examples/checkpoints/
examples/*/logs/
examples/*/checkpoints/

datasets/tests/example_augmentations/
datasets/tests/example_quadruplets/
